.events-container h3 {
    text-align: center;
    margin: 20px 0;
}

.events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .7rem;
}

.events-list > li {
    width: 15.6rem;
    height: 9.6rem;
    border: .1px solid rgba(255,255,255,.1);
}